
<div class="container">
<h1>Formulário</h1>

<%= form_with scope: :document, url: documents_path, local: true do |form| %>
  <p>
    <%= form.label :nome %><br>
    <%= form.text_field :nome, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label :pais %><br>
    <%= form.text_field :pais, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label :endereco %><br>	
    <%= form.text_field :endereco, class: "form-control" %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, class: "form-control" %>
  </p>

  <p>
    <%= form.label :motivo %><br>
    <%= form.radio_button :motivo, "Guerra" %>
	  <%= form.label :motivo1, "Guerra" %><br>
	  <%= form.radio_button :motivo, "Fome"  %>
	  <%= form.label :motivo2, "Fome" %>
  </p>

  <p >
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </p>
<% end %>
</div>