<p>
  <strong>Nome:</strong>
  <%= @document.nome %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @document.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @document.endereco %>
</p>
 
<p>
  <strong>País:</strong>
  <%= @document.pais %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @document.motivo %>
</p>

<p> Guarde esse número para retirar seu pedido em seu destino </p>

<p>
  <strong>Número do protocolo:</strong>
  <%= @document.id %>
</p>
