<%= stylesheet_link_tag "application" %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Diáspora</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'ONGs', controller: 'ong' %></li>
      <li><%= link_to 'Formulário', 'documents/new' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to(image_tag("/images/siria.png", size:"25x20")) %></li>
      <li><%= link_to(image_tag("/images/espanhol.jpeg", size:"25x20")) %></li>
      <li><%= link_to(image_tag("/images/frances.jpeg", size:"25x20")) %></li>
      <li><%= link_to(image_tag("/images/brasil.png", size:"25x20")) %></li>
    </ul>
  </div>
</nav>

<div class="container">


<br>
<%= link_to 'ONGs que podem te ajudar', controller: 'ong' %>
<br/>
<%= link_to 'Solicitar documentos', 'documents/new' %>
<br/>
</div>