<%= stylesheet_link_tag "application" %>

<h1> Página com infos daoronas </h1>

<%= link_to(image_tag("/images/siria.png", size:"25x20")) %>

<%= link_to(image_tag("/images/espanhol.jpeg", size:"25x20")) %>

<%= link_to(image_tag("/images/frances.jpeg", size:"25x20")) %>

<%= link_to(image_tag("/images/brasil.png", size:"25x20")) %>

<br>
<%= link_to 'ONGs que podem te ajudar', controller: 'ong' %>
<br/>
<%= link_to 'Solicitar documentos', 'documents/new' %>
<br/>